@model WebVendas.Models.ViewModel.VendedorFormViewModel
@{
    ViewData["Title"] = "Editar";
}

<h2>@ViewData["Title"]</h2>

<h4>Vendedores</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for=" Vendedor.Id" />
            <div class="form-group">
                <label asp-for="Vendedor.Name" class="control-label"></label>
                <input asp-for="Vendedor.Name" class="form-control" />
                <span asp-validation-for="Vendedor.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.Email" class="control-label"></label>
                <input asp-for="Vendedor.Email" class="form-control" />
                <span asp-validation-for="Vendedor.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.BirthDate" class="control-label"></label>
                <input asp-for="Vendedor.BirthDate" class="form-control" />
                <span asp-validation-for="Vendedor.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.BaseSalary" class="control-label"></label>
                <input asp-for="Vendedor.BaseSalary" class="form-control" />
                <span asp-validation-for="Vendedor.BaseSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.DepartamentoId" class="control-label"></label>
                <select asp-for="Vendedor.DepartamentoId" asp-items="@(new SelectList(Model.Departamentos,"Id","Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}