@{
    ViewData["Title"] = "Registro de Vendas";
}


<h3>@ViewData["Title"]</h3>

<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary  active" id="opcaoSimples">
        <input type="radio" name="options"> Busca Simples
    </label>
    <label class="btn btn-primary" id="opcaoAgrupada">
        <input type="radio" name="options"> Busca Agrupada
    </label>
</div>

<hr />

<div class="row" id="buscaSimples">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="BuscaSimples">
            <fieldset>
                <legend>Busca Simples</legend>
                <div class="form-group">
                    <label for="minDate" class="col-lg-2 control-label">Min Date</label>
                    <div class="col-lg-10">
                        <input type="date" name="minDate" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="maxDate" class="col-lg-2 control-label">Max Date</label>
                    <div class="col-lg-10">
                        <input type="date" name="maxDate" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div class="row" id="buscaAgrupada">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="BuscaAgrupada">
            <fieldset>
                <legend>Busca Agrupada</legend>
                <div class="form-group">
                    <label for="minDate" class="col-lg-2 control-label">Min Date</label>
                    <div class="col-lg-10">
                        <input type="date" name="minDate" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="maxDate" class="col-lg-2 control-label">Max Date</label>
                    <div class="col-lg-10">
                        <input type="date" name="maxDate" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#buscaAgrupada').hide();
        $('#buscaSimples').hide();
        $('#opcaoSimples').click(function () {
            $('#buscaSimples').show();
            $('#buscaAgrupada').hide();
        });

        $('#opcaoAgrupada').click(function () {
            $('#buscaSimples').hide();
            $('#buscaAgrupada').show();
        });
    });
</script>

